*{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(221, 218, 218);
}
li{
    list-style-type: none;
}
.anchor-tag{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: black;
    padding: 5px; 
    border: 5px solid black;
    border-radius: 8px;
}

.anchor-tag:hover{
    color:  blue;
}

.container-body{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.columns{
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
    box-shadow: 10px -10px 10px rgb(221, 218, 218);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(13, 221, 221, 0.788);
}
.headings{
    border: 2px solid grey;
    border-radius: 10px;
    margin: 15px 25px 15px 25px;
}
.content{
        border: 2px solid grey;
        border-radius: 10px;
        font-size: larger;
        line-height: 2.9;
        margin: 0px 20px 10px 10px ;
}
#anchor-tag{
    color: blue;
}

img{
    border: 6px solid black;
    border-radius: 8px;
    padding: 10px;
}